header {
    margin-top: 15px;
    text-align: center;
}

a {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

body {
    background-color: #F5FEFD; /* Change to any color you like */
}