header {
    margin-top: 15px;
    text-align: center;
    background-color: "white";
}

.index-active{
    background-color: cyan;
}

.nav-link {
    text-decoration: none;
    color: #040406;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

a:visited {
    color: black; 
}


